In [4]:
n=5 #eval(input("Enter the no of rows"))

for i in range(n):
    for j in range(5+1):
        print(j,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5

In [10]:
n=10 #eval(input("Enter the no of rows"))

# for i in range(1,n+1):
#     # for j in range(1,n+1):
#         print(chr(64+i)*n)
#     # print()

n=10 #eval(input("Enter the no of rows"))

for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+i),end=" ")
    print()

A A A A A A A A A A
B B B B B B B B B B
C C C C C C C C C C
D D D D D D D D D D
E E E E E E E E E E
F F F F F F F F F F
G G G G G G G G G G
H H H H H H H H H H
I I I I I I I I I I
J J J J J J J J J J

In [11]:
n=10 #eval(input("Enter the no of rows"))

for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+j),end=" ")
    print()

A B C D E F G H I J
A B C D E F G H I J
A B C D E F G H I J
A B C D E F G H I J
A B C D E F G H I J
A B C D E F G H I J
A B C D E F G H I J
A B C D E F G H I J
A B C D E F G H I J
A B C D E F G H I J

In [14]:
n=10 #eval(input("Enter the no of rows"))

for i in range(n,1,-1):
    for j in range(1,n+1):
        print(i,end=" ")
    print()

10 10 10 10 10 10 10 10 10 10
9 9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8 8 8
7 7 7 7 7 7 7 7 7 7
6 6 6 6 6 6 6 6 6 6
5 5 5 5 5 5 5 5 5 5
4 4 4 4 4 4 4 4 4 4
3 3 3 3 3 3 3 3 3 3
2 2 2 2 2 2 2 2 2 2

In [17]:
n=10 #eval(input("Enter the no of rows"))

for i in range(n,1,-1):
    for j in range(n,0,-1):
        print(j,end=" ")
    print()

10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1

In [18]:
n=10 #eval(input("Enter the no of rows"))

for i in range(n,0,-1):
    for j in range(n,0,-1):
        print(chr(64+j),end=" ")
    print()

J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A
J I H G F E D C B A

In [21]:
n=10 #eval(input("Enter the no of rows"))

for i in range(n,0,-1):
    for j in range(n,0,-1):
        print(chr(64+i),end=" ")
    print()

J J J J J J J J J J
I I I I I I I I I I
H H H H H H H H H H
G G G G G G G G G G
F F F F F F F F F F
E E E E E E E E E E
D D D D D D D D D D
C C C C C C C C C C
B B B B B B B B B B
A A A A A A A A A A

In [23]:
n=5 #eval(input("Enter the no of rows"))
for i in range(n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [25]:
n=5 #eval(input("Enter the no of rows"))
for i in range(n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [26]:
n=5 #eval(input("Enter the no of rows"))
for i in range(n+1):
    for j in range(1,i+1):
        print(chr(64+i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [27]:
n=5 #eval(input("Enter the no of rows"))
for i in range(n+1):
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [35]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1